Day 1

Dataset: Iris Dataset: https://en.wikipedia.org/wiki/Iris_flower_data_set

Petal and Sepal: http://terpconnect.umd.edu/~petersd/666/html/iris_with_labels.jpg

For now lets understand Vector as:

n-dimensional Numerical array(Now)

[4.1, 8.7] => This is a 2-dimensional vector or array

What is 1-dimensional vector?
1- D vector is nothing but a scalar

x = [4.1]
x = 4.1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris = pd.read_csv("iris.csv")

In [3]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
iris.shape

(150, 5)

In [5]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
# How many data points for each class are present? or How many flowers for each Species are present?

iris["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

Day 2

An Imbalanced dataset is one where the distribution of the classes is not uniform, meaning that one or more classes have significantly fewer samples compared to the others.